attrs==23.2.0
build==1.2.1
fdb==2.0.2
firebird-base==1.8.0
firebird-driver==1.10.3
firebird-lib==1.5.0
future==1.0.0
iniconfig==2.0.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pluggy==1.5.0
plum-dispatch==1.7.4
protobuf==5.26.1
py==1.11.0
pyproject_hooks==1.1.0
pytest==8.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tomli==2.0.1
tzdata==2024.1
